In [10]:
import pandas as pd

# Load the data
file_path = 'data/test_data.csv'
data = pd.read_csv(file_path)
data.head()

,ResponseID,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,FuBqcfGjNSZTGLmJL,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,FuBqcfGjNSZTGLmJL,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,FuBqbkH5834oodYJA,1,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,FuBqbkH5834oodYJA,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,FuBq4j5Kw9tYatn35,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df1 = data.iloc[::2]  # 1st, 3rd, 5th, ...
df2 = data.iloc[1::2] # 2nd, 4th, 6th, ...
length_df1 = len(df1)
length_df2 = len(df2)
total_length = len(data)

if length_df1 == length_df2:
    targets = pd.DataFrame({
        'Saved_df1': df1['Saved'].reset_index(drop=True),
        'Saved_df2': df2['Saved'].reset_index(drop=True)
    })
    preview_df1 = df1.head()
    preview_df2 = df2.head()
    preview_targets = targets.head()
else:   
    #adjusting the length of 'Saved' columns to be equal for the new data
    min_length = min(len(df1), len(df2))
    df1_adjusted = df1.iloc[:min_length]
    df2_adjusted = df2.iloc[:min_length]
    targets = pd.DataFrame({
    'Saved_df1_new': df1_adjusted['Saved'].apply(lambda x: 1 if x == 1 else 0).reset_index(drop=True)
})
    preview_df1 = df1_adjusted.head()
    preview_df2 = df2_adjusted.head()
    preview_targets = targets.head()


preview_df1, preview_df2, preview_targets, (len(df1), len(df2), len(targets))

(          ResponseID  Saved  Man  Woman  Pregnant  Stroller  OldMan  OldWoman  \
 0  FuBqcfGjNSZTGLmJL      0  0.0    0.0       0.0       0.0     0.0       0.0
 2  FuBqbkH5834oodYJA      1  0.0    2.0       0.0       1.0     0.0       0.0
 4  FuBq4j5Kw9tYatn35      1  0.0    1.0       0.0       0.0     0.0       0.0
 6  FuBq3JrpkEQSokxFv      1  0.0    0.0       0.0       0.0     0.0       0.0
 8  FuBq2Ag6qK37nirRH      0  0.0    0.0       0.0       0.0     0.0       1.0

    Boy  Girl  ...  LargeMan  Criminal  MaleExecutive  FemaleExecutive  \
 0  0.0   0.0  ...       0.0       0.0            0.0              0.0
 2  0.0   0.0  ...       0.0       0.0            0.0              0.0
 4  0.0   0.0  ...       0.0       0.0            0.0              0.0
 6  0.0   0.0  ...       0.0       0.0            0.0              1.0
 8  0.0   0.0  ...       0.0       0.0            0.0              0.0

    FemaleAthlete  MaleAthlete  FemaleDoctor  MaleDoctor  Dog  Cat
 0            0.0          1.0           0.0         0.0  0.0  0.0
 2            0.0          1.0           0.0         1.0  0.0  0.0
 4            1.0          0.0           0.0         0.0  0.0  0.0
 6            0.0          0.0           0.0         0.0  0.0  0.0
 8            1.0          0.0           0.0         0.0  0.0  0.0

 [5 rows x 22 columns],
           ResponseID  Saved  Man  Woman  Pregnant  Stroller  OldMan  OldWoman  \
 1  FuBqcfGjNSZTGLmJL      1  1.0    0.0       0.0       0.0     0.0       0.0
 3  FuBqbkH5834oodYJA      0  0.0    0.0       0.0       0.0     0.0       0.0
 5  FuBq4j5Kw9tYatn35      0  1.0    0.0       0.0       0.0     0.0       0.0
 7  FuBq3JrpkEQSokxFv      0  0.0    0.0       0.0       0.0     1.0       1.0
 9  FuBq2Ag6qK37nirRH      1  0.0    0.0       0.0       0.0     1.0       0.0

    Boy  Girl  ...  LargeMan  Criminal  MaleExecutive  FemaleExecutive  \
 1  0.0   0.0  ...       0.0       0.0            0.0              0.0
 3  0.0   0.0  ...       0.0       0.0            0.0              0.0
 5  0.0   0.0  ...       0.0       0.0            0.0              0.0
 7  0.0   0.0  ...       0.0       1.0            0.0              0.0
 9  0.0   0.0  ...       0.0       0.0            0.0              0.0

    FemaleAthlete  MaleAthlete  FemaleDoctor  MaleDoctor  Dog  Cat
 1            0.0          0.0           0.0         0.0  0.0  0.0
 3            0.0          1.0           0.0         0.0  0.0  0.0
 5            0.0          1.0           0.0         0.0  0.0  0.0
 7            0.0          0.0           0.0         0.0  0.0  0.0
 9            0.0          1.0           0.0         0.0  0.0  0.0

 [5 rows x 22 columns],
    Saved_df1  Saved_df2
 0          0          1
 1          1          0
 2          1          0
 3          1          0
 4          0          1,
 (5000, 5000, 5000))

In [12]:
df1 = df1.drop(columns=['Saved','ResponseID'])
df2 = df2.drop(columns=['Saved','ResponseID'])

In [ ]:
df1.to_csv('df1_test.csv', index=False)
df2.to_csv('df2_test.csv', index=False)
targets.to_csv('targets_test.csv', index=False)